/*Blocks principales*/
.span8 {
 float: none;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.main,.vcard{width:57%; max-width: 700px; margin:0 auto}

/*Header*/

h1#logo_site_spip{display:none}

.accueil{text-align:center;width:100%;}

.accueil .spip_logos{float:none}

.header .span3{display:none}

/*Homepage*/
.sites .short .entry > *:not(.entry-title) {
    display: block;
}

.rubrique_home .sites h2 {display:none}
